<%- include('layout.ejs'); %>
<div class="container">
    <div class="row justify-content-center">

        <h3>Welcome <%= user.name %> </h3><br>

    </div>
</div>

<div>
    <% if(details!=null) { %>
        <form action="/update/" method="get">
        <select name="obrf_to_update">
        <% details.forEach(function(item){ %>
        <option value="<%= item._id%>"><%= item.tracker_placement_id%> - <%= item.first_name%> <%= item.last_name%></option>
        <% }) %>
        </select>
        <% } %>
        <input type="submit" value="Submit" name="submit" class="btn btn-primary">
        </form>
</div>