<%- include('layout.ejs'); %>
<div class="container">
    <div class="row justify-content-center">

        <h3>Welcome <%= user.name %> </h3><br>

    </div>
</div>
<% if (user.role === 'Admin') { %>
    <div>
        <a href="/admin">Admin Page</a>
    </div>
    <% } %>
<div>
    <% if(details!=null) { %>
        <table>
        <tr>
            <th>Tracker Placement ID</th>
            <th>Start Date</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Current Status</th>
            <th>Client</th>
            <th>Account Manager</th>
            <th>Recruiter</th>
            <th>CTO</th>
        </tr>
        <% details.forEach(function(item){ %>
        <tr>
            <td><a href="/update/<%= item._id%>"><%= item.tracker_placement_id%></a></td>
            <td><%= moment(item.sdate).format(shortDateFormat) %></td>
            <td><%= item.first_name%></td>
            <td><%= item.last_name%></td>
            <td><%= item.current_status%></td>
            <td><%= item.customer%></td>
            <td><%= item.placement_am%></td>
            <td><%= item.placement_recruiter%></td>
            <td><%= item.placement_cto%></td>
        
        </tr>
        <% }) %>
        </table>
        <% } %>
</div>
</body>
</html>